/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.highlight {
  color: #7b5cff; 
  font-weight: bold;
}

/* Variables */
:root {
  --main-color: #54b689;
  --main--text-color: #fff;
  --border-color: #999;
  --bio-bg-color: #1E2A3A;
  --bio-border-color: #293544;
  --about-bg-color: #111821;
}

/* General */
.highlight {
  color: var(--main-color);
}

/*Containers*/
#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

#bio-container {
  background-color: var(--bio-bg-color); /* azul escuro */
  min-height: 100vh;
  padding: 20px;
}

/* NOVA CAIXA */
.bio-box {
  background-color: #1f3a5f; /* outro tom de azul */
  padding: 16px;
  border-radius: 10px;
  margin-top: 20px;
}


#bio-container img {
  width: 150px;
  height: 150px;
}