/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: var(--main--text-color);
}

.highlight {
  color: #7b5cff; 
  font-weight: bold;
}

/* Variables */
:root {
  --main-color: #00ffd5;
  --main--text-color: #006eff;
  --border-color: #00d9ff;
  --bio-bg-color: #24252E;
  --bio-border-color: #2C2D36;
  --about-bg-color: #2C2D50;
}

/* General */
.highlight {
  color: var(--main-color);
}

/*Containers*/
#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

#bio-container {
  flex: 0 1 10%;
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 20px 12px;
  border-right: 5px solid var(--bio-border-color);
}

#about-container {
  flex: 1 1 90%;
  height: 100vh;
  background-color: var(--about-bg-color);
  padding: 50px;
}

/* Bio container */
#bio-contianer h2 {
  margin-bottom: 25px;
}

#bio-container p {
  margin-bottom: 20px;
}

#bio-image {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-bottom: 25px;
}

#social_container {
  display: flex;
  justify-content: center; 
  gap: 20px;               
  list-style: none;        
  padding: 0;
  margin: 0;
}

#social-container li {
  display: inline-flex;
}

#email-container {
  display: flex;
  align-items: center; /* alinha verticalmente */
  justify-content: center; /* centraliza tudo */
  gap: 10px; /* espaço entre ícone e texto */
}

#social-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

#social-container li a {
  color: var(--main-color);
  font-size: 30px;
}

#email-container a {
  color: var(--main--text-color);
  text-decoration: none;
  max-width: 225px;
}

#email-container ion-icon {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
  max-width: 20px;
}

#social-container ion-icon {
  color: var(--main-color);
}

/* about container */
#name {
  font-size: 42px;
  margin-bottom: 15px;
}

#title {
  font-size: 42px;
  margin-bottom: 15px;
  font-weight: bold;
}

.description {
  max-width: 75%;
  margin-bottom: 10px;
}

#btn-projects {
  font-weight: bold;
  font-size: 16px;
  color: var(--main--text-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  transition: .5s;
  margin: 25px 0;
  padding: 12px 10px;
  width: 150px;
  text-align: center;
  display: flex;
}

#title-left {
  margin-bottom: 25px;
}

#btn-projects ion-icon,
#btn-projects span {
  flex: 1 1 0;
}

#btn-projects ion-icon {
  font-size: 20px;
  max-width: 20px;
}

#btn-projects:hover {
  background-color: transparent;
}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.skills-box {
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 35px
}

.skills-title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid var(--main-color)
}

.skills-box i {
  font-size: 45px;
  margin-right: 10px;
}