/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.highlight {
  color: #7b5cff; 
  font-weight: bold;
}

/* Variables */

:root {
  --main-color: #54b689;
  --main--text-color: #fff;
  --border-color: #999;
  --bio-bg-color: #1E2A3A;
  --bio-border-color: #293544;
  --about-bg-color: #111821;
}

/* General */
.highlight {
  color: var(--main-color);
}