/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: white;
}

.highlight {
  color: #7b5cff; 
  font-weight: bold;
}

/* Variables */
:root {
  --main-color: #88ff00;
  --main--text-color: #002fff;
  --border-color: #00d9ff;
  --bio-bg-color: #24252E;
  --bio-border-color: #2C2D36;
  --about-bg-color: #2C2D50;
}

/* General */
.highlight {
  color: var(--main-color);
}

/*Containers*/
#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

#bio-container {
  flex: 0 1 20%;
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 20px 12px;
  border-right: 5px solid var(--bio-border-color);
}

#about-container {
  flex: 1 1 90%;
  height: 100vh;
  background-color: var(--about-bg-color);
  padding: 50px;
}

/* Bio container */
#bio-contianer h2 {
  margin-bottom: 25px;
}

#bio-container p {
  margin-bottom: 20px;
}

#bio-image {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-bottom: 25px;
}

#social_container {
  display: flex;
  justify-content: center; 
  gap: 20px;               
  list-style: none;        
  padding: 0;
  margin: 0;
}

#social-container li {
  display: inline-flex;
}

