/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.highlight {
  color: #7b5cff; 
  font-weight: bold;
}

/* Variables */
:root {
  --main-color: #54b689;
  --main--text-color: #fff;
  --border-color: #999;
  --bio-bg-color: #719eda;
  --bio-border-color: #8698ad;
  --about-bg-color: #000000;
}

/* General */
.highlight {
  color: var(--main-color);
}

/*Containers*/
#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

#bio-container {
  flex: 0 1 10%;
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 20px 12px;
  border-right: 5px solid var(--bio-border-color);
}

#about-container {
  flex: 1 1 90%;
  height: 100vh;
  background-color: var(--about-bg-color);
  padding: 50px;
}

#bio-container img {
  width: 150px;
  height: 150px;
}