/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.highlight {
  color: #7b5cff; 
  font-weight: bold;
}

/* Variables */
:root {
  --main-color: #54b689;
  --main--text-color: #fff;
  --border-color: #999;
  --bio-bg-color: #1E2A3A;
  --bio-border-color: #293544;
  --about-bg-color: #111821;
}

/* General */
.highlight {
  color: var(--main-color);
}

/*Containers*/
#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

#container {
  display: flex;
  height: 100vh;
}

#bio-container {
  width: 250px;
}

#main-content {
  flex: 1;
}


#bio-container img {
  width: 150px;
  height: 150px;
}